body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
h1{
    text-align: center;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}

.wiki-item {
  margin: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.wiki-content {
  padding: 10px;
}

.wiki-img {
  width: 100%;
  height: auto;
  display: block;
}
@media (min-width: 600px) {
  .wiki-content {
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
  }

  .wiki-text, .img-container {
    min-width: 50%;
    max-width: 50%;
    text-align: center;
  }

  .img-container {
    padding-left: 10px;
    width: auto;
  }
  .wiki-text {
  margin: auto;
  width: 50%;
  padding: 2px;
}
}